body{
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;

}
@font-face {
    font-family: 'Flexo-Demi';
    src: url(fonts/Flexo-Demi/Flexo-Demi.woff);
    /* url(fonts/Flexo-Demi/Flexo-Demi.woff); */
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url(fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 500;
  
}


.card {
  padding-top: 20px;
  background-color: #fff;
  border-radius: 17px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* max-width: auto; */
  width: 100%;
  /* margin-left: 10px ;
  margin-right: 10px; */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}
@media(min-width:1024px){
  .card{
    width: 50%;
  }
  .img-mewtwo{
    width: 50%;
  }

}


.pokemon-name {
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  background: #A4A4A4;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.pokemon-type {
  display: flex;
  padding: 12px;
  font-size: 18px;
  color: #000000;
  justify-content: space-between;
  margin-bottom: 20px;
  display: flex;
  align-items: center

  
}
.color {
  background-color: #F2F2F2;
}
.pokemon-ability {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-size: 18px;
  color: #000000;
  justify-content: space-between;
  margin-bottom: 20px;
}

p {
  font-family: 'Roboto-Regular';
  font-size: 13.6px;
  color: #919191;
  line-height: 1.5;
}

.ability{
display: flex;
justify-content: space-between;
/* background-color: aquamarine; */

}

.rightplus {
  color: #616161;
}

.blankspace img {
  margin-right: 7px;
  
}

.size {
  font-size: 1.875rem;
  line-height: 2.25rem; 
  
}

.img-mewtwo {
  padding-top: 15px;
  margin-bottom: 10px;
  max-width: 100%;
  height: 342px;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;  
  margin-left: 10px ;
  margin-right: 10px;
}
@media (min-width: 1024px) {
  .center {
    flex-direction: row;
  }
  .img-mewtwo {
    margin-bottom: 0px;
    margin-right: 20px;
    
  }
}

.card2 {
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  padding: 4px;
  border-radius: 0.25rem;
  text-align: center;
}
.card2 div {
  width: 33.33%;
}

.flexcard {
  display: flex;
  flex-direction: column;
  ;
}

.flex1 {
  display: flex;
}

.stats {
  display: flex;
  flex-direction: column ;
}

.image-size{
  height: 20px;
  width: 20px;
}

.title {
    font-family: 'Flexo-Demi';
    font-size: 32px;
}

.label {
 display: flex;
 

}

#supertypes {
padding-left: 5px;

}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
  font-family: 'Roboto-Regular', sans-serif;
  width: 100%;
}

.boldOne {

font-weight: 600;
}

.buttomJeff{
  display: flex;
  justify-content: center;
}
.buttomJeff div{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: rgb(3 7 18);
  background-color: #876eaf;
  padding: 10px;
  border-radius: 0.375rem; 
  width: 10rem;
  font-weight: 600;
  color: #ffffff;
}
.buttomJeff div:hover{
  background-color: #574674;
  
}
.buttomJeff div:active{
  background-color: #574674;
  
}

.color1 {
  /* background-color: #876eaf; */
  display: flex;
  align-items: center;
}

li {
  list-style: none;

}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;

}

a:hover{
  color: aquamarine;
}

header{
  position: relative;
  
}

.navbar{
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #161b22;
}

.logoimg{
  height: 50px;;
  
}

.logo{
  font-size: 1.2rem;
  font-weight: bold;


}
.tlheader{
  display: flex;
  align-items: center;
  

}
.tlheader a{
padding-left: 10px;

}

.navbar .links{
  display: flex;
  gap: 2rem;

}

.navbar .toggle_btn{
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.dropdown_menu{
  display: none;
  position: absolute;
  top: 60px;
  height: 0;
  width: 100px;
  background: #161b22;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
height: 240px;

}

.dropdown_menu li{
  padding: 0.7rem;

  /* align-items: center;
  justify-content: center; */
}

.dropdown_menu li:hover{
  background-color: #0d1117;
 

}

.dropdown_menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;

}

@media(max-width: 992px){
  .navbar .links,
  .navbar .action_btn{
  display: none;
  }
}

.navbar .toggle_btn{
  display: block;
}

.dropdown_menu {
  display: block;
  width: 100vw;
}

@media(max-width: 576px){
  .dropdown_menu{
    width: 100vw; 
  }
}

input[type="search"] {
  width: 100%; 
  height: 2.3rem;
  padding-left: 30px;
  background-color: #0d1117;
  border-radius: 0.375rem;
  border-color: rgb(147 51 234);
  
}

.searchbar{
  position: relative;

}

.position{
  position: absolute;
  top: 10px;
  left: 9px;


}

.whiteicon{
  color: #ffffff;
}